@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none !important;
    list-style-type: none !important;
    box-sizing: border-box !important;
}

.custum_container {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 12px;
    padding-left: 12px;
}

.custum_container_Blue {
    max-width: 970px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 12px;
    padding-left: 12px;
}

/* root */
:root {
    --fs-xxs: 13px;
    --fs-xs: 14px;
    --fs-sm: 16px;
    --fs-smm: 17px;
    --fs-xxmd: 18px;
    --fs-md: 20px;
    --fs-lg: 21px;
    --fs-xmd: 24px;
    --fs-xxd: 28px;
    --fs-sxl: 30px;
    --fs-xl: 32px;
    --fs-xxl: 40px;
    --fs-2xl: 52px;
    --fs-3xl: 60px;
    --color-darknight: #000;
    --color-bluelight: #076787;
    --color-lightblue: #82B2C2;
    --color-white: #FFF;

}




.fs_xxs {
    font-size: var(--fs-xxs);
}

.fs_xs {
    font-size: var(--fs-xs);
}

.fs_sm {
    font-size: var(--fs-sm);
}

.fs_smm {
    font-size: var(--fs-smm);
}

.fs_xxmd {
    font-size: var(--fs-xxmd);
}

.fs_xxd {
    font-size: var(--fs-xxd);
}

.fs_xmd {
    font-size: var(--fs-xmd);
}

.fs_md {
    font-size: var(--fs-md);
}

.fs_lg {
    font-size: var(--fs-lg);
}

.fs_sxl {
    font-size: var(--fs-sxl);
}

.fs_xl {
    font-size: var(--fs-xl);
}

.fs_xxl {
    font-size: var(--fs-xxl);
}

.fs_2xl {
    font-size: var(--fs-2xl)
}

.fs_3xl {
    font-size: var(--fs-3xl);
}

.ff_PlusJakarta {
    font-family: Plus Jakarta Sans;
}

.ff_inter {
    font-family: Inter;
}


.color_bluelight {
    color: var(--color-bluelight);
}

.color_lightblue {
    color: var(--color-lightblue);
}

.color_darkblue {
    color: var(--color-darkblue);
}

.color_darknight {
    color: var(--color-darknight);
}

.color_white {
    color: var(--color-white);
}

.dropbtn {
    background-color: #FFF1DA;
    border: none;
    outline: none;
}



.cross .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
    transition: 300ms linear;
}

.cross .bar2 {
    transform: translateX(-100%);
    opacity: 0;
    transition: 300ms linear;
}

.cross .bar3 {
    transform: translate(0, -11px) rotate(45deg);
    transition: 300ms linear;
}

.linebox {
    height: 40px;
    width: 40px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10;
}

nav .linebox span {
    height: 5px;
    width: 100%;
    margin-top: 6px;
    background-color: #080809;

}

.cursor_pointer {
    cursor: pointer;
}

#preloader {
    z-index: 20 !important;
    animation: zoomin 3s linear infinite;
}

.link {
    position: relative;
}

.link::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #076787;
    bottom: -5px;
    transform: scaleX(0);
    transition: all 400ms linear;
}

.link:hover::after {
    transform: scaleX(1);
}

.link:hover.color_darknight {
    color: #076787;
}



/* HERO START */

.Button_Blue {
    padding: 13px 16px;
    border-radius: 4px;
    background: var(--deep-blue, #076787);
    border: 2px solid transparent;
    color: var(--white, #FFF);
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    transition: all 200ms linear;
    z-index: 1;
}

.Button_Blue:hover {
    background-color: #FFF;
    color: #076787;
    border: 2px solid #076787;
}


.hero_bottom_layer {
    background-color: rgba(130, 178, 194, 0.10);
    height: 200px;
    z-index: -1;
}

.margin_negative_4 {
    margin-top: -41px;
}

.Email_Btn_Box_Shadow {

    box-shadow: 0px 4px 25px 0px rgba(129, 72, 142, 0.23);
}

input {
    border: none;
    outline: none;

}

.prev1:hover svg path {
    stroke: #FFF;
    fill: #076787;
}

.prev1:hover svg circle {
    stroke: #FFF;
    fill: #076787;
}

.Email_input {
    border-radius: 4px;
    background: #FFF;
    box-shadow: 0px 4px 15px 0px rgba(7, 103, 135, 0.15);
    max-width: 428.892px;
    padding: 5.62px 4.27px 5.62px 11.07px;

}

.Email_input input::placeholder {
    color: var(--black, #000);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    opacity: 0.7;
}

.Email_input input {
    color: var(--black, #000);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    opacity: 0.7;
}

.opacity_G {
    opacity: 0.7;
}

.bg_sky {
    background-color: #F8FDFF;
}

.Blue_line {
    background-color: #076787;
    border-top: 2.236pxsolid #000 !important;
    border-bottom: 2.236px solid #C1B5AA;
    width: 100%;
    height: 24.87px;
}

.Plant_abs_A {
    position: absolute;
    bottom: -5%;
    left: 4%;
}

.Plant_abs_B {
    position: absolute;
    bottom: -4%;
    right: 14%;
}

.zigzag_left {
    position: absolute;
    top: 35%;
    left: 0%;
}

.zigzag_right {
    position: absolute;
    top: 40%;
    right: 0%;
}

/* HERO END */

/* FEATURES Start */

.library_slider_layer {
    top: 30px !important;
    width: 480px;
    border-radius: 4px;
    background: var(--Light-blue, #82B2C2);
    height: 262.492px;
}

.library_slider_Btn {
    bottom: -50px;
    left: 0%;
}

.zigzag_Ama_abs {
    position: absolute;
    bottom: -26%;
    left: 0%;
}

.Features_white_box {
    max-width: 1138px;
    border-radius: 32px;
    background: #FFF;
    box-shadow: 0px 26px 27px 0px rgba(0, 0, 0, 0.04);
}

.padding-36 {
    padding-left: 36px;
}

.zigzag_Tracking_abs {
    position: absolute;
    bottom: -40%;
    right: 0%;
}

.zigzag_abs_Tracking {
    position: absolute;
    bottom: 2%;
    left: 0%;
}

/* FEATURES End */

/* PLATFORM START */

.opacity-08 {
    opacity: 0.8;
}

.bg_green {
    background-color: #85B6A6;
}

.bg_Blue {
    background-color: #82B2C2;
}

.bg_Deepblue {
    background-color: #076787;
}

.bg_fadesky {
    background-color: #F5F8F9;
}

.Box_Platform {
    width: 268px;
    height: 207px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all 200ms linear;
}

.Box_Platform:hover {
    scale: 1.05;
}

.position_abs_zig {
    position: absolute;
    bottom: -3%;
    right: -7%;
}

.zigzag_Platdorm {
    position: absolute;
    top: -1%;
    right: 0%;
}

.zigzag_forecast {
    position: absolute;
    bottom: 0%;
    left: 0%;
}

.max_width_800 {
    max-width: 900px;
}

.container_custom {
    max-width: 970px;
}

.patient_box {
    border-radius: 4px;
    border: 1px solid var(--deep-blue, #076787);
    background: var(--deep-blue, #076787);
    padding: 20.5px;
    width: 231px;
    height: 195px;
}


.patient_box button {
    font-size: 28px;
    color: var(--deep-blue, #076787);
    padding: 9.5px 61.5px;
    font-weight: 600;
    line-height: 110%;
    border-radius: 4px;
    background: #FFF;
    border: 0;
}

.Reimbursement_cards {
    width: 343px;
    display: flex;
    padding: 10px 10.5px 10px 25.84px;
    justify-content: space-between;
    align-items: center;
    gap: 53.889px;
    border-radius: 4px;
    background: rgba(7, 103, 135, 0.08);
    box-shadow: 0px 0px 13px 0px rgba(60, 27, 78, 0.21) inset;
}

.Reimbursement_cards button {
    color: var(--white, #FFF);
    text-align: right;
    font-family: Inter;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 110%;
    padding: 17px 21px;
    border-radius: 4px;
    border: 1px solid var(--deep-blue, #076787);
    background: var(--deep-blue, #076787);
    transition: all 300ms linear;
}

.Reimbursement_cards button:hover {
    background-color: #FFF;
    color: #076787;
}


/* PLATFORM END */


/* HEALTH START */

.Box_care {
    display: flex;
    width: 207.834px;
    height: 137.87px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.10);
    background: #FFF;
    box-shadow: 0px 13px 18px 0px rgba(0, 0, 0, 0.06);
    transition: all 500ms linear;
}

.Box_care:hover {
    box-shadow: unset;
}

/* HEALTH END */

/* FIGURES START*/

.Box_Committed {
    display: flex;
    width: 208px;
    height: 208px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 1px solid rgba(7, 103, 135, 0.10);
    background: #FFF;
    box-shadow: 0px 11px 27px 0px rgba(0, 0, 0, 0.04), 0px -16px 27px 0px rgba(0, 0, 0, 0.04);
    transition: all 500ms linear;
}

.Box_Committed:hover {
    box-shadow: unset;

}

.tabs {
    transition: all 300ms linear;
}


.tabs img {
    width: 152px;
    height: 114px;
    transition: all 300ms linear;
}

.tab-content {
    display: none;
    width: 946px;
    height: 473px;
    border-radius: 16px;
}

.tab-content img {
    border-radius: 16px;
}

.activetab {
    transform: scaleY(1.2);
    transition: all 300ms linear;
}

/* FIGURES END */


/* ABOUT_US START */

.zigzag_one_abs {
    position: absolute;
    top: 12%;
    left: 0%;
}

.zigzag_two_abs {
    position: absolute;
    bottom: 14%;
    right: 0%;
}

.Box_About {
    max-width: 823px;
    border-radius: 4px;
    background: #FFF;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.10);
}

.Deep_Blue_bg {
    border-radius: 32px;
    background: var(--deep-blue, #076787);
}


.about_abs_1 {
    position: absolute;
    top: 52%;
    left: 13%;
}

.about_abs_2 {
    position: absolute;
    top: 69%;
    right: 15%;
}

.position_abs_BT {
    position: absolute;
    bottom: 0%;
    right: 0%;
}

.Blue_Box_abs {
    bottom: -10%;
    left: 0%;
    margin-bottom: -170px;
    z-index: 3;
    position: relative;
}

.About_slider_Btn {
    bottom: 2%;
    left: 48%;
}

/* ABOUT_US END */

/* FOOTER START */

.Line_Footer {
    height: 2px;
    background: hsla(0, 0%, 100%, .7)
}

.zigzag_footer {
    position: absolute;
    bottom: 14%;
    left: 0%;
}

/* FOOTER END */

/* Top_Button */
.Top_To_Button {
    position: fixed;
    display: none;
    bottom: 0px;
    right: 0;
    margin-right: 20px;
    margin-bottom: 20px;
    text-decoration: none;
    width: 50px;
    height: 50px;

    font-family: Inter;
    color: #fff;
    background: #076787;
    border-radius: 50px;
    animation: backtotop 3s linear infinite;
}

@keyframes backtotop {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(20%);
    }

    100% {
        transform: translateY(0);
    }
}



@keyframes zoomin {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

.fotter_links li a:hover {
    opacity: 0.5;
}


body {
    scroll-behavior: smooth;
}



@media (max-width:992px) {

    .w_lg_100 {
        width: 100%;
    }

    .overflow_hidden {
        overflow: hidden;
    }

    .nav_bar {
        position: fixed;
        margin-top: 0px;
        left: -100%;
        top: 0;
        width: 100%;
        height: 100%;
        line-height: 30px;
        flex-direction: column;
        background-color: #FFF;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        z-index: 10;
    }


    .show {
        left: 0;

    }

    .column_lg_reverse {
        flex-direction: column-reverse;
    }


    .Tample-abs {
        position: absolute;
        top: 52%;
        left: 33%;
    }

    .next1-abs {
        top: 42%;
        left: 100%;
    }


    .prev1-abs {
        top: 62%;
        left: 100%;
    }

    .smile-abs {
        top: -30%;
        left: -6%;
    }


    /* .Box_About {
        max-width: 500px !important;
    } */

}




@media (min-width:768px) {
    .min_vh_100 {
        min-height: 100vh;
    }


}

@media (max-width:768px) {
    .tabs img {
        width: 80px;
        height: 80px;
    }

    .activetab {
        transform: scale(0.8);
        transition: all 300ms linear;
    }

    .Hero_plant_B {
        width: 50px;
    }

    .Hero_plant {
        width: 90px;
    }

    .Plant_abs_A {
        position: absolute;
        bottom: -19%;
        left: 4%;
    }

    .Plant_abs_B {
        position: absolute;
        bottom: -19%;
        right: 14%;
    }

    .About_slider_Btn {
        bottom: 2%;
        left: 43%;
    }

}

@media (max-width:576px) {
    :root {
        --fs-2xl: 35px;
        --fs-xxl: 25px;
    }

    .Box_Committed {
        width: 150px;
        height: 150px;

    }
}


/* new */


@media (max-width:992px) {
    .w_lg_100 {
        width: 100%;
    }
}